﻿@using Core.Model
@using BlogWebApplication.Helper
@model Article
@{
    ViewBag.Title = "Detail";
}

<main>
    <div class="container-fluid">
        <div class="row">

            <!--Post column-->
            <div class="col-md-8">

                <!--Section: Post-->
                <section class="section section-blog-fw">

                    <!--First row-->
                    <div class="row">

                        <div class="col-md-12 wow fadeInUp">                           
                            <!--Featured image-->
                            <img src="~/imgs/@Model.Id/main.jpg" width="100%" height="100%"">

                            <!--Post data-->
                            <div class="jumbotron wow fadeInUp" data-wow-delay="0.2s">
                                <h2>@Model.Title</h2>
                                <p>Written by <a>@Model.Owner.FullName</a>, @Model.CreatedDate.ToShortDateString()</p>

                                <!--Social shares-->
                                <div class="social-counters ">                                  
                                    <!--Comments-->
                                    <a class="btn btn-default " id="button">
                                        <i class="fa fa-comments-o left "></i>
                                        <span class="hidden-md-down">Comments</span>
                                    </a>
                                    <span class="counter ">@ViewBag.Comments</span>

                                </div>
                                <!--/.Social shares-->

                            </div>
                            <!--/Post data-->
                            <!--Post text-->
                            <div class="post-text">
                                <p>
                                    @Model.Content
                                </p>

                              
                            </div>
                            <!--/Post text-->                           
                        </div>

                    </div>
                    <!--/First row-->

                </section>
                <!--/Section: Post-->
                <!--Section: About author-->
                <section class="mb-4">
                    <!--Author box-->
                    <div class="author-box">
                        <!--Name-->
                        <h3 class="h3-responsive text-center">About author</h3>
                        <hr>
                        <div class="row">
                            <!--Avatar-->
                            <div class="col-12 col-sm-2">
                                <img src="https://mdbootstrap.com/images/avatars/img%20(8).jpg" class="img-fluid rounded-circle z-depth-2">
                            </div>
                            <!--Author Data-->
                            <div class=" col-12 col-sm-10">
                                <p><strong>@Model.Owner.FullName</strong></p>
                                <div class="personal-sm">
                                    <a class="email-ic"><i class="fa fa-home"> </i></a>
                                    <a class="fb-ic"><i class="fa fa-facebook"> </i></a>
                                    <a class="tw-ic"><i class="fa fa-twitter"> </i></a>
                                    <a class="gplus-ic"><i class="fa fa-google-plus"> </i></a>
                                    <a class="li-ic"><i class="fa fa-linkedin"> </i></a>
                                    <a class="email-ic"><i class="fa fa-envelope-o"> </i></a>
                                </div>                               
                            </div>
                        </div>
                    </div>
                    <!--/.Author box-->
                </section>
                <!--/Section: About author-->
                @Html.Action("GetReview", "Article",new { ArticleId = Model.Id })

                <hr class="between-sections">
                @if (UserHelper.IsLogged())
                {
                    @Html.Action("Review", "Article", new { ArticleId = Model.Id })
                }
                
                
            </div>
            <!--/Post column-->
            <!--Right sidebar-->
            <div class="col-md-4">

                <!--Section: Sidebar widget-->
                <section>

                    <!--Card-->
                    <div class="card card-cascade wider">

                        <!--Card image-->
                        <div class="view overlay hm-white-slight wow fadeInDown" data-wow-delay="0.2s">
                            <img src="~/imgs/@ViewBag.RandomArticle.Id/main.jpg" class="img-fluid" alt="">
                            <a>
                                <div class="mask"></div>
                            </a>
                        </div>
                        <!--/.Card image-->
                        <!--Card content-->
                        <div class="card-block text-center wow fadeInDown">
                            <!--Title-->
                            <h4 class="card-title">@ViewBag.RandomArticle.Title</h4>
                            <!--Text-->
                            @*<p class="card-text">@ViewBag.RandomArticle.Content.ToString().ConvertToLimitString(200)</p>*@
                            <a class="btn btn-primary" href="@Url.Action("Detail","Article",new {slug = @ViewBag.RandomArticle.Slug })">Read more</a>
                        </div>
                        <!--/.Card content-->

                    </div>
                    <!--/.Card-->

                </section>
                <!--/Section: Sidebar widget-->

            </div>
            <!--/Right sidebar-->
        </div>
    </div>
</main>

@section script{
    <script>
        $("#button").click(function() {
        $('html, body').animate({
            scrollTop: $("#frmReply").offset().top
        }, 2000);
    });
    </script>
    }  
