﻿@using Core.Model
@model IEnumerable<Comment>
<section>
    <div class="comments-list text-left">
        <div class="section-heading">
            <h3>Comments <span class="badge blue">@ViewBag.Comments</span></h3>
        </div>
        @foreach (var c in Model)
        {
            <div class="row">
                <!--Image column-->
                <div class="col-sm-2 col-12">
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg">
                </div>
                <!--/.Image column-->
                <!--Content column-->
                <div class="col-sm-10 col-12">
                    <a><h3 class="user-name">@c.User.FullName</h3></a>
                    <div class="card-data">
                        <ul>
                            <li class="comment-date"><i class="fa fa-clock-o"></i> @c.CreatedDate.ToShortDateString()</li>
                        </ul>
                    </div>
                    <p class="comment-text">@c.Content</p>
                </div>
                <!--/.Content column-->
            </div>
        }
                     
    </div>
</section>

