﻿@model IEnumerable<Core.Model.Article>
@using BlogWebApplication.Helper
@{
    ViewBag.Title = "ListArticle";
}

<form id="frmRemove" action="@Url.Action("Remove","Article")" method="post">
    <input id="txtArticleId" type="hidden" name="ArticleId" />

</form>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading text-center">
                <h2>List Article</h2>
            </div>

            <div class="panel-body">
                <table class="table  table-hover table-condensed">
                    <thead>
                        <tr style="background-color:#293a48; color:white">
                            <th>ID</th>
                            <th>Title</th>
                            <th>Created Date</th>
                            <th>Image</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var a in Model)
                        {
                            <tr style="line-height:37px;">
                                <td>
                                    @Html.DisplayFor(modelItem => a.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => a.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => a.CreatedDate)
                                </td>
                                <td>
                                    <img src="~/imgs/@a.Id/main.jpg" />
                                </td>
                                <td>
                                    <a href="javascript:;" class="btn btn-sm btnRemove"  style="background-color:red" data-articleId="@a.Id">
                                        <i class="fa fa-remove"></i>
                                    </a>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section Script {
    <script type="text/javascript">

        $('.btnRemove').on('click', function () {
            var id = $(this).data('articleId');
            $('#txtArticleId').val(id);
            alert(id);
            $('#frmRemove').submit();
        });
    </script>
}