﻿@model Core.Model.Article

@{
    ViewBag.Title = "NewArticle";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 col-lg-12 login-form mx-auto float-none">
            <div class="card" style="margin-top:50px; height:800px !important">
                <div class="card-block">
                    <!--Header-->
                    <div class="form-header">
                        <h3><i class="fa fa-plus"></i> Add new Article</h3>
                    </div>
                    <div class="progress primary-color-dark" id="loading" style="display:none;">
                        <div class="indeterminate">

                        </div>
                    </div>
                    @using (Html.BeginForm("NewArticle", "Article", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="row">
                            <div class="col">
                                <div class="md-form">
                                    <i class="fa fa-text prefix"></i>
                                    @Html.LabelFor(u => u.Title)
                                    @Html.TextBoxFor(u => u.Title, new { @class = "form-control" })
                                </div>
                                <div class="md-form">
                                    <i class="fa fa-arrow-circle-right prefix"></i>
                                    @Html.LabelFor(u => u.Slug)
                                    @Html.TextBoxFor(u => u.Slug, new { @class = "form-control" })
                                </div>

                                <div class="md-form">
                                    <i class="fa fa-lock prefix"></i>
                                    @Html.LabelFor(u => u.Content)
                                    @Html.TextAreaFor(u => u.Content, new { @class = "md-textarea", style = "height:200px" })
                                </div>
                            </div>

                            <div class="col">
                                <div class="md-form">
                                    <input id="image" type="file" name="file">
                                </div>
                            </div>

                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-default">Create</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section css{
    <link href="~/Content/fileinput.min.css" rel="stylesheet" />
}
@section script
{
    <script src="~/Scripts/fileinput.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#image").fileinput({ 'showUpload': false});
            $("#Title").keyup(function () {              
                var title = $("#Title").val();
                var slug = generateSlug(title);
                $("#Slug").val(slug);
            });
            var generateSlug = function (str) {
                str = str.replace(/^\s+|\s+$/g, ''); // trim
                str = str.toLowerCase();
                
                var from = "áàảạãăắằẳẵặâấầẩẫậéèẻẽẹêếềểễệìíỉĩịóòỏõọôốồổỗộơớờởỡợúùủũụưứừửữựđýỳỷỹỵ·/_,:;";
                var to =   "aaaaaaaaaaaaaaaaaeeeeeeeeeeeiiiiiooooooooooooooooouuuuuuuuuuudyyyyy------";
                
                for (var i = 0, l = from.length; i < l; i++) {
                    str = str.replace(new RegExp(from.charAt(i), 'g'), to.charAt(i));
                }

                str = str.replace(/[^a-z0-9 -]/g, '') // remove invalid chars
                    .replace(/\s+/g, '-') // collapse whitespace and replace by -
                    .replace(/-+/g, '-'); // collapse dashes

                return str;
            };
        });
        

    </script>
}
