﻿@using BlogWebApplication.Helper
@model BlogWebApplication.Models.ReviewViewModel
@if (UserHelper.IsLogged())
{
                    <!--Section: Leave a reply (Logged In User) -->
    <section>
        @using (Html.BeginForm("Review", "Article", FormMethod.Post, new { @class = "reply-form", id = "frmReply" }))
        {
            <h1 class="section-heading">Leave a reply </h1>
                            <!--Third row-->
                            <div class="row">
                                <!--Image column-->
                                <div class="col-sm-2 col-12">
                                    <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg">
                                </div>
                                <!--/.Image column-->
                                <!--Content column-->
                                <div class="col-sm-10 col-12">
                                    <div class="md-form">
                                        @Html.TextAreaFor(r => r.Content,new { @class = "md-textarea" })
                                        @Html.HiddenFor(r => r.ArticleId,new {value = Model.ArticleId })
                                        @Html.HiddenFor(r => r.UserId, new { value = Model.UserId })
                                        @*<textarea type="text" id="txtReview" name="Review" class="md-textarea"></textarea>
                                        <input type="hidden" id="txtArticleID" name="ArticleSlug" value="@Model.Slug" />
                                        <input type="hidden" id="txtUserID" name="UserID" value="@Model.Owner.UserId" />*@
                                        <label for="Review">Your message</label>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button class="btn btn-primary">Submit</button>
                                </div>
                                <!--/.Content column-->
                            </div>
        }

    </section>
                <!--/.Section: Leave a reply (Logged In User)-->
}
