﻿@using BlogWebApplication.Models
@using BlogWebApplication.Helper
@model HomePageArticle
@{
    ViewBag.Title = "Index";
}

<div class="container-fluid">

    <!--Section: Blog v.4-->
    <section class="section section-blog-fw">

        <!--First row-->
        <div class="row">
            <div class="col-md-12 wow fadeIn" data-wow-delay="0.2s">
                <!--Featured image-->
                <img src="~/imgs/@Model.NewestArticle.Id/main.jpg">

                <!--Post data-->
                <div class="jumbotron wow fadeIn" data-wow-delay="0.4s">
                    <h2><a href="@Url.Action("Detail","Article",new {slug = Model.NewestArticle.Slug })">@Model.NewestArticle.Title</a></h2>
                    <p>Written by <a>@Model.NewestArticle.Owner.FullName</a>, @Model.NewestArticle.CreatedDate.ToShortDateString()</p>

                    <!--Social shares-->
                    <div class="social-counters ">                       
                        <!--Comments-->
                        <a class="btn btn-default" href="@Url.Action("Detail","Article",new {slug = @Model.NewestArticle.Slug })">
                            <i class="fa fa-comments-o left "></i>
                            <span class="hidden-md-down ">Comments</span>
                        </a>
                        @*<span class="counter ">@.GetAmountCommentByArticle(Model.NewestArticle.Id)</span>*@

                    </div>
                    <!--/.Social shares-->

                </div>
                <!--/Post data-->
                <!--Excerpt-->
                <div class="excerpt wow fadeIn" data-wow-delay="0.4s">
                    <p>       
                        @Model.NewestArticle.Content.ConvertToLimitString(550)
                    </p>

                    
                </div>
            </div>
        </div>
        <!--/First row-->           
    </section>
    <!--/Section: Blog v.4-->

    <hr class="between-sections">
    

    <!--Section: Blog v.3-->
    <section class="section extra-margins">

        <!--Section heading-->
        <h1 class="section-heading wow fadeIn" data-wow-delay="0.2s">Blog listing</h1>
        <!--Section sescription-->
       
        @foreach (var a in Model.Articles)
        {           
            <div class="row">
                <!--First column-->
                <div class="col-md-5 mb-r wow fadeIn" data-wow-delay="0.3s">
                    <!--Featured image-->
                    <div class="view overlay hm-white-slight">
                        <img src="~/imgs/@a.Id/main.jpg">
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>
                </div>
                <!--/First column-->
                <!--Second column-->
                <div class="col-md-7 mb-r wow fadeIn" data-wow-delay="0.3s">
                    <!--Excerpt-->
                    <!--<h5 class="teal-text "><i class="fa fa-money "></i>Business</h5>-->
                    <h4>@a.Title</h4>
                    <p>@a.Content.ConvertToLimitString(300)</p>
                    <p>by <a><strong>@a.Owner.FullName</strong></a>, @a.CreatedDate.ToShortDateString()</p>                 
                    @Html.ActionLink( linkText:"Read more",actionName:"Detail",controllerName:"Article",routeValues:new { slug = a.Slug },
                                    htmlAttributes: new { @class="btn btn-primary" })
                </div>
                <!--/Second column-->

            </div>        
            <hr>
        }
                     
    </section>
    <!--/Section: Blog v.3-->

</div>

