﻿@using BlogWebApplication.Models
@model LoginViewModel
@{
    ViewBag.Title = "Account";
}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-lg-5 login-form mx-auto float-none">
            <div class="card" style="margin-top:50px;">
                <div class="card-block">
                    <!--Header-->
                    <div class="form-header ">
                        <h3><i class="fa fa-sign-in"></i> Login</h3>
                    </div>
                    @using (Html.BeginForm("Login", "Account", FormMethod.Post, htmlAttributes: new { id = "frmLogin" }))
                    {
                        <div class="md-form">
                            <i class="fa fa-user prefix"></i>                           
                            @Html.LabelFor(u=> u.UserName)
                            @Html.TextBoxFor(u => u.UserName, new { @class = "form-control" })
                        </div>

                        <div class="md-form">
                            <i class="fa fa-lock prefix"></i>                         
                            @Html.LabelFor(u => u.Password)
                            @Html.TextBoxFor(u => u.Password, new { @class = "form-control",type = "password" })
                        </div>


                        <div class="md-form text-center">
                            <div id="errorLogin">
                            </div>
                            <input id="txtRememberLogin" class="filled-in" type="checkbox" value="false">
                            <label for="txtRememberLogin">Remember me?</label>
                            <input id="txtCheckbox" name="Remember" type="hidden" value="false">
                        </div>

                            <div class="text-center">
                                <button type="submit" class="btn btn-primary  btn-lg">Login</button>
                            </div>
                    }                   
                </div>
            </div>
        </div>
    </div>
</div>


